body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar mainContent"
    ;
}

p {
    margin: 0px;
}

button {
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(74, 165, 255);
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #dfdfdf;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 8px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text>p:first-child {
    font-weight: bold;
    padding-bottom: 4px;
}

.text>p:last-child {
    font-size: 0.9rem;
    color: grey;
}

/*-------------------HEADER--------------------*/
header {
    grid-area: header;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
    "searchBar userAccount"
    "userInfos buttons"
    ;
    gap: 25px;
    padding: 5px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.icon {
    transform: scale(0.8);
}

#searchBar {
    background-color: white;
    grid-area: searchBar;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

input[type="text"] {
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    flex-grow: 1;
}

input[type="text"]:focus {
    background-color: #f0f0f0;
}

#userAccount {
    grid-area: userAccount;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

#userInfos {
    grid-area: userInfos;

    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 15px;
}

#userPic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    font-weight: bold;
}

#userWelcome p:first-of-type {
    font-size: .8rem;
}

#userWelcome p:last-of-type {
    font-size: 1.2rem;
}

#buttons {
    grid-area: buttons;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

/*-------------------SIDEBAR--------------------*/
#sidebar {
    background-color: dodgerblue;
    grid-area: sidebar;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 40px;
    padding: 15px;
}

#sidebarHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
}

#nav>ul {
    display: flex;
    flex-direction: column;
    gap: 15px
}

#nav>ul>li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

#nav>ul>li:nth-last-of-type(3) {
    margin-top: 40px;
}

/*-------------------MAINCONTENT--------------------*/
#mainContent {
    background-color: #f0f0f0;
    padding: 40px 20px;
    grid-area: mainContent;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "projects annoncements"
    "projects trending"
    ;
    gap: 20px;
}

#projects {
    grid-area: projects;
}

#projectsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.project {
    display: grid;
    grid-template-columns: 10px auto;
}

.cardColored {
    background-color: rgb(255, 209, 5);
    border-radius: 8px 0px 0px 8px;
}

.cardContent {
    padding: 30px 20px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.action {
    display: flex;
    justify-content: right;
    gap: 20px
}

#annoncements {
    grid-area: annoncements;
}

#annoncementsContent {
    padding: 30px 30px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#annoncementsContent>div {
    font-size: 12px;
}

#annoncementsContent>div:not(:first-child) {
    border-top: 2px solid #f0f0f0;
    padding-top: 20px;
}

#annoncementsContent>div:not(:last-child) {
    padding-bottom: 20px;
}

#trending {
    background-color: green;
    grid-area: trending;
}

#trendingContent {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.contentDisplay{
    display: grid;
    grid-template-rows: auto 1fr;
}